/* Colors:
Blue: #1A1F64
Pink: #ED4A8B */

body,
html {
  background-color: #1a1f64;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main__nav {
  display: flex;
  background-color: #ebebeb;
  border-right: 3px groove black;
  flex-direction: column;
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 25%;
}

.logo__container {
  border-bottom: 3px groove black;
  padding: 1rem 0.1rem;
  width: 100%;
}

.main__logo {
  display: block;
  margin-left: 0.4rem;
  max-width: 95%;
}

.main__nav-links {
  color: #ed4a8b;
  margin-top: 3rem;
  text-decoration: none;
}

.main__nav-item {
  font-weight: bold;
  letter-spacing: 0.1rem;
  list-style: none;
  margin-bottom: 1rem;
}

.main__nav-url {
  text-decoration: none;
}

.content {
  text-align: center;
}

.headline {
  color: #ed4a8b;
  position: relative;
  top: 10%;
  right: -14%;
}

.introduction {
  color: #ed4a8b;
  font-size: 24px;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
  margin: 4rem auto;
  position: relative;
  right: -15%;
  text-align: left;
  width: 50%;
}
